body {
    background: #0f1117;
    color: white;
    font-family: Arial, sans-serif;

    max-width: 900px;
    margin: auto;
    padding: 50px;

    line-height: 1.7;
}
h1 {
    font-size: 48px;
    text-align: center;
}
h2 {
    margin-top: 40px;
    color: #8ab4ff;
}
p {
    font-size: 18px;
}
a {
    color: #7cc7ff;
}

a:hover {
    color: white;
}
* {
    transition: 0.25s;
}
